
{% extends "layout.html" %}
{% block title %}
  Index
{% endblock %}

{% block head %}
{{ super() }}
{% endblock %}

{% block content %}


<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <a href="{{ url_for('intro') }}">Introduction</a>
  <a href="{{ url_for('net') }}">Networking</a>
  <a href="{{ url_for('crypto') }}">Cryptography</a>
  <a href="{{ url_for('teleport') }}">Quantum Teleportation</a>
  <a href="{{ url_for('ai') }}">AI in Quantum Computing</a>
  <a href="{{ url_for('compute') }}">Quantum Computers</a>
  <a href="{{ url_for('iot') }}">Iot with Quantum Computing</a>
  <a href="{{ url_for('material') }}">Material science in Quantum Computing</a>
  <a href="{{ url_for('tutorial') }}">Videos and Podcasts</a>
  <a href="{{ url_for('tools') }}">Tools for Quantum Programming</a>
</div>


<script>
function openNav() {
  document.getElementById("mySidenav").style.width = "250px";
  document.getElementById("main").style.marginLeft = "250px";
}

function closeNav() {
  document.getElementById("mySidenav").style.width = "0";
  document.getElementById("main").style.marginLeft= "0";
}
</script>


<div id="main">
  <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; Menu</span>


<h1>IOT</h1>
<p align="RIGHT"><a href="{{ url_for('logout') }}" >Logout</a></p>

<div class="w3-panel w3-white w3-card w3-display-container" style="margin-left: 0em;">
<h3><a href="https://www.embedded.com/electronics-blogs/say-what-/4462006/Exploring-the-intersection-of-IoT--AI-and-quantum-computing">[Article 1]: Exploring the intersection of IoT, AI and quantum computing</a></h3>

<p>LAS VEGAS — Where do IoT, AI and Quantum Computing intersect? The short answer is that they meet where data is growing exponentially. The long answer is... well, it’s complicated.
Last week, a panel at the Design Automation Conference (DAC) drilled deep into this difficult topic. Participating were the winners of the “2019 Under 40 Innovation Awards” — young engineers and researchers working on next-generation technologies.
The panelists, all eager for the dawn of a new era in design automation, called upon the electronic design automation (EDA) industry for more sophisticated tools to help them advance the Internet of things (IoT), artificial intelligence (AI) and even quantum computing.
But given the slowdown of Moore’s Law, what more can design automation contribute to electronic design? How exactly does EDA connect with AI?
Vijay Raghunathan, professor of electrical and computer engineering at Purdue University, explained: “One of the things EDA did for designs in general is to convert what was basically dark art [i.e. electronic design] into a very structured science.”
Raghunathan continued: “If you talk to AI researchers today, you realize the design of these algorithms and neural networks is really a dark art. One of the most interesting things going forward is to see if EDA can bring the same level of rigorous structure to the design of neural networks and design of AI algorithms.” He added, “To me, that is one of the most interesting aspects that connects the world of EDA with the world of AI.”</p></div><br><br>

<img src="{{url_for('static', filename='iot.png')}}" alt=""><br>

<h3>LINKS</h3>
<ul>
  <li><a href="https://www.embedded.com/electronics-blogs/say-what-/4462006/Exploring-the-intersection-of-IoT--AI-and-quantum-computing">https://www.embedded.com/electronics-blogs/say-what-/4462006/Exploring-the-intersection-of-IoT--AI-and-quantum-computing</a></li>
</ul>




</div>

{% endblock %}
