
{% extends "layout.html" %}
{% block title %}
  Index
{% endblock %}

{% block head %}
{{ super() }}
{% endblock %}

{% block content %}

<body>

<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <a href="{{ url_for('intro') }}">Introduction</a>
  <a href="{{ url_for('net') }}">Networking</a>
  <a href="{{ url_for('crypto') }}">Cryptography</a>
  <a href="{{ url_for('teleport') }}">Quantum Teleportation</a>
  <a href="{{ url_for('ai') }}">AI in Quantum Computing</a>
  <a href="{{ url_for('compute') }}">Quantum Computers</a>
  <a href="{{ url_for('iot') }}">Iot with Quantum Computing</a>
  <a href="{{ url_for('material') }}">Material science in Quantum Computing</a>
  <a href="{{ url_for('tutorial') }}">Videos and Podcasts</a>
  <a href="{{ url_for('tools') }}">Tools for Quantum Programming</a>
</div>


<script>
function openNav() {
  document.getElementById("mySidenav").style.width = "250px";
  document.getElementById("main").style.marginLeft = "250px";
}

function closeNav() {
  document.getElementById("mySidenav").style.width = "0";
  document.getElementById("main").style.marginLeft= "0";
}
</script>

<div id="main">
  <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; Menu</span>



<h1>MATERIAL SCEINCE IN QUNTUM COMPUTING</h1>
<p align="RIGHT"><a href="{{ url_for('logout') }}" >Logout</a></p>

<div class="w3-panel w3-white w3-card w3-display-container" style="margin-left: 0em;">
<h3><a href="https://phys.org/news/2019-06-material-high-potential-quantum.html?fbclid=IwAR3lrp8be1pegJ-vG81UAWkq16NDLouaVi5SPpDf41soAYQLtw0puVXWKR8">[Article 1]: New material shows high potential for quantum computing</a></h3>


<p>A joint team of scientists at the University of California, Riverside, and the Massachusetts Institute of Technology is getting closer to confirming the existence of an exotic quantum particle called Majorana fermion, crucial for fault-tolerant quantum computing—the kind of quantum computing that addresses errors during its operation.</p>
<p>Quantum computing uses quantumphenomena to perform computations. Majorana fermions exist at the boundary of special superconductors called topological superconductors, which have a superconducting gap in their interiors and harbor Majorana fermions outside, at their boundaries. Majorana fermions are one of the most sought-after objects in quantum physics because they are their own antiparticles, they can split the quantum state of an electron in half, and they follow different statistics compared to electrons. Though many have claimed to have identified them, scientists still cannot confirm their exotic quantum nature.</p>
</div><br><br>

<div class="w3-panel w3-white w3-card w3-display-container" style="margin-left: 0em;">
<h3><a href="https://futurism.com/stacking-graphene-new-quantum-states">[Article 2]: Stacking Graphene Creates Entirely New Quantum States</a></h3>

<p>The qubits – the basic units of quantum communication – central to quantum computers are incredibly fragile, prone to switching between states at the slightest disruption. This has made error correction a major focus of quantum computer developers — they need to find a way to keep the systems functioning even if an individual qubit is corrupted. Not only that, but they have to do so without actually measuring the qubits, since that would destroy their ability to exist in multiple states at once. No easy task.But now, a team of U.S. physicists has used the “supermaterial” graphene to uncover several entirely new quantum states — and they think the discovery could lead to quantum computers that don’t need error correction at all.</p></div><br><br>



<h2>LINKS</h2>
<ul>
  <li><a href="https://phys.org/news/2019-06-material-high-potential-quantum.html?fbclid=IwAR3lrp8be1pegJ-vG81UAWkq16NDLouaVi5SPpDf41soAYQLtw0puVXWKR8">https://phys.org/news/2019-06-material-high-potential-quantum.html?fbclid=IwAR3lrp8be1pegJ-vG81UAWkq16NDLouaVi5SPpDf41soAYQLtw0puVXWKR8</a></li>
  <li><a href="https://futurism.com/stacking-graphene-new-quantum-states">https://futurism.com/stacking-graphene-new-quantum-states</a></li>
</ul>
</div>

{% endblock %}
