
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TOOLS</title>

<style>
body {
  font-family: "Lato", sans-serif;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 15px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
</style>

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-blue-grey.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
   <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/stylesheet.css') }}">
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.5.0/themes/prism.min.css"
/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.5.0/prism.min.js"></script>
    <nav class="navbar navbar-inverse">
        <div class="contianer-fluid ">
            <!--LOGO-->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topNavBar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>

        </div>
    </nav>

</head>
<body>

<body>
<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <a href="{{ url_for('intro') }}">Introduction</a>
  <a href="{{ url_for('net') }}">Networking</a>
  <a href="{{ url_for('crypto') }}">Cryptography</a>
  <a href="{{ url_for('teleport') }}">Quantum Teleportation</a>
  <a href="{{ url_for('ai') }}">AI in Quantum Computing</a>
  <a href="{{ url_for('compute') }}">Quantum Computers</a>
  <a href="{{ url_for('iot') }}">Iot with Quantum Computing</a>
  <a href="{{ url_for('material') }}">Material science in Quantum Computing</a>
  <a href="{{ url_for('tutorial') }}">Videos and Podcasts</a>
  <a href="{{ url_for('tools') }}">Tools for Quantum Programming</a>
</div>


<script>
function openNav() {
  document.getElementById("mySidenav").style.width = "250px";
  document.getElementById("main").style.marginLeft = "250px";
}

function closeNav() {
  document.getElementById("mySidenav").style.width = "0";
  document.getElementById("main").style.marginLeft= "0";
}
</script>


<div id="main">
  <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; Menu</span>



<h1>NETWORKING DOMAIN</h1>
<p align="RIGHT"><a href="{{ url_for('logout') }}" >Logout</a></p>


<div class="w3-panel w3-white w3-card w3-display-container" style="margin-left: 0em;">
<h3><a href="https://www.cnet.com/google-amp/news/att-hopes-quantum-networking-will-amplify-the-power-of-quantum-computing/?__twitter_impression=true">[ARTICLE 1] : AT&T – QUANTUM NETWORKING</a></h3>
<p>Quantum computing, the processing technology that's turbocharged by the weirdness of subatomic physics, is only just becoming a reality. But the newness of the field hasn't stopped AT&T from going another step further. The telecommunications giant is researching technology to link quantum computers, hoping to amplify their power much the way networking of conventional computers led to massive supercomputers and services spread across the globe. Quantum networking could lead to a similar leap for quantum computers and possibly form the foundation for a quantum internet.</p></div><br><br>

<img src="{{url_for('static', filename='net.jpg')}}" alt=""><br>

<div class="w3-panel w3-white w3-card w3-display-container" style="margin-left: 0em;">
<h3><a href ="https://interestingengineering.com/att-is-full-steam-ahead-with-quantum-internet-research">[ARTICLE 2]: AT&T Is Full Steam Ahead with Quantum Internet Research</a></h3>

<p>Telecommunications giant, AT&T are working with researchers on ways to move the power of quantum computing out of the labs and into the real world.The firm has formed a partnership called Intelligent Quantum Networks and Technologies (INQNET).Researchers from the California Institute of Technology, Stanford University, national laboratories, startups, the military, and other institutions will work together on the project.Quantum computing isn’t going to go mainstream anytime soon but the researchers from the partnership will work together on figuring out what is possible.</p></div>

<div class="w3-panel w3-white w3-card w3-display-container" style="margin-left: 0em;">

<h3>PAPERS</h3>
<h5><a href ="https://arxiv.org/pdf/1908.00044.pdf">1) Quantum Poker – a pedagogical tool to learn quantum computing that is fun to play</a></h5>



</div>
</body>
</html>
