
{% extends "layout.html" %}
{% block title %}
  Index
{% endblock %}

{% block head %}
{{ super() }}
{% endblock %}

{% block content %}

<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <a href="{{ url_for('intro') }}">Introduction</a>
  <a href="{{ url_for('net') }}">Networking</a>
  <a href="{{ url_for('crypto') }}">Cryptography</a>
  <a href="{{ url_for('teleport') }}">Quantum Teleportation</a>
  <a href="{{ url_for('ai') }}">AI in Quantum Computing</a>
  <a href="{{ url_for('compute') }}">Quantum Computers</a>
  <a href="{{ url_for('iot') }}">Iot with Quantum Computing</a>
  <a href="{{ url_for('material') }}">Material science in Quantum Computing</a>
  <a href="{{ url_for('tutorial') }}">Videos and Podcasts</a>
  <a href="{{ url_for('tools') }}">Tools for Quantum Programming</a>
</div>


<script>
function openNav() {
  document.getElementById("mySidenav").style.width = "250px";
  document.getElementById("main").style.marginLeft = "250px";
}

function closeNav() {
  document.getElementById("mySidenav").style.width = "0";
  document.getElementById("main").style.marginLeft= "0";
}
</script>


<div id="main">
  <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; Menu</span>


<h1>QUANTUM TELEPORTATION</h1>
<p align="RIGHT"><a href="{{ url_for('logout') }}" >Logout</a></p>

<div class="w3-panel w3-white w3-card w3-display-container" style="margin-left: 0em;">
<h3><a href="https://interestingengineering.com/japanese-researchers-teleport-quantum-information-into-a-diamond">[Article 1]: Japanese Researchers Teleport Quantum Information into a Diamond</a></h3>
<p>Quantum teleportation is very real. In fact, researchers have already teleported quantum information across cities and even into space. Though this sounds like an Avengers Endgame plot device, quantum teleportation has a host of powerful applications in the near future, mainly in the emergence of quantum technologies (https://interestingengineering.com/what-will-quantumcomputing- change-exactly).
Recently, researchers from something very cool with quantum information. The team from Yokohama National University have managed teleport quantum information securely into one of the hardest structures on the planet, the diamond. The breakthrough could help us better share and store sensitive information.</p></div><br><br>

 

<div class="w3-panel w3-white w3-card w3-display-container" style="margin-left: 0em;">
<h3><a href="https://interestingengineering.com/physicists-appear-to-reverse-time-in-a-quantum-computer">[Article 2]: Physicists Appear to "Reverse Time" in a Quantum Computer</a></h3>
 <p>Using a quantum computer, scientists appear to have reversed the entropy of a two-qubit and a three-qubit system, opening new avenues of error correction in quantum computers. Scientists appear to have “reversed time” in a two-bit and a three-bit quantum computer after calculating the probability of the phenomenon occurring naturally in a localized electron. Reversing The Entropy of a Two-Qubit System . Scientists in Russia, Switzerland, and the US have come together to apparently reverse the entropy of a two-qubit quantum computer with 85% accuracy and about 50% accuracy in a three-qubit system, though they note that the remaining inaccuracy is due to the imperfections in the quantum computer itself, not their algorithm.</p></div><br><br>

 
<h2>LINKS</h2>
<ul>
<li><a href="https://interestingengineering.com/japanese-researchers-teleport-quantum-information-into-a-diamond">https://interestingengineering.com/japanese-researchers-teleport-quantum-information-into-a-diamond</a></li>
<li><a href="https://interestingengineering.com/physicists-appear-to-reverse-time-in-a-quantum-computer">https://interestingengineering.com/physicists-appear-to-reverse-time-in-a-quantum-computer</a></li> 
</ul>
</div>


{% endblock %}
