
{% extends "layout.html" %}
{% block title %}
  Index
{% endblock %}

{% block head %}
{{ super() }}
{% endblock %}

{% block content %}


<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <a href="{{ url_for('intro') }}">Introduction</a>
  <a href="{{ url_for('net') }}">Networking</a>
  <a href="{{ url_for('crypto') }}">Cryptography</a>
  <a href="{{ url_for('teleport') }}">Quantum Teleportation</a>
  <a href="{{ url_for('ai') }}">AI in Quantum Computing</a>
  <a href="{{ url_for('compute') }}">Quantum Computers</a>
  <a href="{{ url_for('iot') }}">Iot with Quantum Computing</a>
  <a href="{{ url_for('material') }}">Material science in Quantum Computing</a>
  <a href="{{ url_for('tutorial') }}">Videos and Podcasts</a>
  <a href="{{ url_for('tools') }}">Tools for Quantum Programming</a>
</div>


<script>
function openNav() {
  document.getElementById("mySidenav").style.width = "250px";
  document.getElementById("main").style.marginLeft = "250px";
}

function closeNav() {
  document.getElementById("mySidenav").style.width = "0";
  document.getElementById("main").style.marginLeft= "0";
}
</script>


<div id="main">
  <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; Menu</span>

<div class="w3-panel w3-white w3-card w3-display-container" style="margin-left: 0em;">
<h3>VIDEOS & PODCATS</h3>
<p align="RIGHT"><a href="{{ url_for('logout') }}" >Logout</a></p>
<p> This is the test content</p>
</div><br><br>

<div class="w3-panel w3-white w3-card w3-display-container" style="margin-left: 0em;">
<h3>READING MATERIAL</h3>
<ul>
<li><a href="https://www.nature.com/articles/s41534-019-0167-6.pdf">https://www.nature.com/articles/s41534-019-0167-6.pdf</a> </li>
<li><a href="https://www.wired.com/story/wired-guide-to-quantum-computing/?itm_campaign=GuideCarveLeft"> https://www.wired.com/story/wired-guide-to-quantum-computing/?itm_campaign=GuideCarveLeft</a></li>
<li><a href="https://www.quantamagazine.org/"> https://www.quantamagazine.org/</a></li>

</ul> 
</div><br><br>

<div class="w3-panel w3-white w3-card w3-display-container" style="margin-left: 0em;">
<h3> GOOGLE&apos;S 4 VIDEO SERIES </h3>
<ul>
<li><a href="https://www.youtube.com/watch?v=hpHfzYTOMGI&list=PLQY2H8rRoyvwcpm6Nf-fL4sIYQUXtq3HR&index=1">Introdcution</a></li>
<li><a href="https://www.youtube.com/watch?v=k-21vRCC0RM&list=PLQY2H8rRoyvwcpm6Nf-fL4sIYQUXtq3HR&index=2">Quantum Computers</a></li>
<li><a href="https://www.youtube.com/watch?v=uPw9nkJAwDY&list=PLQY2H8rRoyvwcpm6Nf-fL4sIYQUXtq3HR&index=3">Building Quantum Computer</a></li>
<li><a href="https://www.youtube.com/watch?v=16ZfkPRVf2w&list=PLQY2H8rRoyvwcpm6Nf-fL4sIYQUXtq3HR&index=4">Programming in a Quantum Computer</a></li>
<li><a href="https://www.youtube.com/watch?v=gylmjTOUfCQ&list=PLQY2H8rRoyvwcpm6Nf-fL4sIYQUXtq3HR&index=5">Challenges in Quantum Computing Technology</a></li>
</ul>
</div><br><br>

<h3>LINKS</h3>
<ul>
<li><a href="https://overcast.fm/+PaPfChl_I/">https://overcast.fm/+PaPfChl_I</a></li>
<li><a href="https://assets.bwbx.io/av/users/iqjWHBFdfxIU/vLOKI_uy7f8w/v4.mp3">https://assets.bwbx.io/av/users/iqjWHBFdfxIU/vLOKI_uy7f8w/v4.mp3</a></li>
</ul>
</div>

{% endblock %}
